@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.font-p{
  font-family: 'Poppins', sans-serif;
}
.font-r{
  font-family: 'Roboto', sans-serif;
}
.font-600{
  font-weight: 600;
}
.font-700{
  font-weight:700;
}
.font-500{
  font-weight:500;
}
.font-400{
  font-weight:400;
}
.t-s-14{
  font-size:14px;
}
.t-s-18{
  font-size:18px;
}
.t-s-48{
  font-size:48px;
}
.t-s-24{
  font-size:24px;
}